*{
    margin: 0;
}


header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 80px;
    height: 100px;
    color: aquamarine;
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/181/742/non_2x/dark-overlapping-3d-black-and-grey-with-silver-background-vector.jpg');
    background-size: 100;
}
body{
    background-color: rgb(56, 55, 55);
}
main{
    text-align: center;
}
p{
    color: aquamarine;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
table{
    margin-left: 10px;
    margin-top: 20px;
}
table, tr, td{
    border: 1px solid rgb(169, 201, 98);
    margin-left: 50px;
}
h2{
    color: aquamarine;
    margin-top: 20px;
   
}
th{
    color: rgb(169, 201, 98);
}
td{
    color: aquamarine;
    padding-left: 5px;
}
footer{
    text-align: center;
    margin-top: 50px;
    color: rgb(57, 105, 59);
    font-weight: bold;
}

.img{
    margin-top: 35px;
    border: 1px solid rgb(57, 105, 59);
    height: 340px;
    width: 340px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
#web{
    color: aquamarine;
    cursor: pointer;
    display: inline-block;
}
#web:hover{
    font-size: 18px;
    transition: font-size .1s;
}
